.buttonArea {
  margin: 5% 0;
  text-align: center;
  button {
    padding: 2px 12px;
    height: 40px;
    min-width: 120px;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    border: 2px solid #24292e;
    border-radius: 5px;
    background-color: #24292e;
  }
  button:hover {
    color: #24292e;
    border: 2px solid #24292e;
    background-color: white;
    transition: 0.2s;
  }
}

.readPostLayout {
  margin-top: 50px;
  .tag {
    color: silver;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .postTitle {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 25px;
    font-weight: bold;
  }
  .postInfo {
    .postDateWriterLikeArea{
      display: flex;
      justify-content: space-between;
      .postDateWriter {
        .date {
          color: silver;
        }
        .divide {
          margin: 0 10px;
          color: silver;
        }
        .byWriter {
          color: silver;
          .by {
            font-weight: bold;
          }
          .writer{
            color: silver;
            margin-left: 10px;
          }
        }
      }
      .postLike {
        padding: 3px 10px;
        border: 1px solid silver;
        border-radius: 50px;
        color: silver;
        .icon{
          margin-right: 10px;
        }
      }
    }
    .postLanguageArea{
      margin: 5px 0;
      .postLanguage {
        padding: 5px;
        font-size: 15px
      }
    }
  }
  .postCode {
    margin-top: 2%;
    margin-bottom: 4%;
    .codeEditor {
      margin-left: 5px;
      border: 1px solid silver;
    }
  }
  .postMemo {
    margin-top: 2%;
    margin-bottom: 10%;
    pre{
      margin-left: 5px;
      white-space: pre-wrap;
      font-size: 15px;
    }
  }
}