.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  .language {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid #24292e;
    border-radius: 10px;
    padding: 2px;
    font-weight: bold;
    cursor: pointer;
  }
  .languageSelected{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid #24292e;
    border-radius: 10px;
    padding: 2px;
    background-color: #24292e;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}