.errorLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24292e;
  font-weight: bold;
  .errorInfo {
    text-align: center;
    margin: 20px 0;
    .errorStatus {
      margin: 10px 0;
      font-size: 50px;
    }
    .errorRedo {
      margin: 50px 100px;
      padding: 5px;
      background-color: black;
      color: white;
      font-size: 20px;
      border-radius: 100px;
      cursor: pointer;
    }
    .returnHome {
      margin: 50px 100px;
      padding: 5px;
      background-color: black;
      color: white;
      font-size: 20px;
      border-radius: 100px;
      cursor: pointer;
    }
  }
}