html, body, #root {
  margin: 0;
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerLayout {
  background-color: #24292e;
  .header {
    margin-left: 10%;
    margin-right: 10%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand {
      font-size: 25px;
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      .navLink {
        margin-left: 10px;
        font-size: 15px;
        color: white;
        text-decoration: none;
      }
      .navLink:hover {
        text-decoration: underline;
      }
      .activeNavLink {
        font-weight: bold;
      }
      .navDropdown {
        margin-left: 10px;

        font-size: 15px;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
      .navDropdownItem {
        padding: 4px 24px;
        .link {
          color: #24292e;
          text-decoration: none;
        }
      }
      .navDropdownItem:hover{
        background-color: #f8f9fa;
      }
    }
  }
}

.footerLayout{
  margin-top:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid silver;
  color: silver;
  .footer {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    .brand {
      margin: 5px;
      font-size: 25px;
    }
    .link {
      color: silver;
      text-decoration: none;
    }
    .link:hover {
      text-decoration: underline;
    }
  }
}

.layout {
  margin-left: 15%;
  margin-right: 15%;
}

.mainSearch {
  padding: 20px 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 70%;
    height: 50px;
    font-size: 25px;
  }
  .button {
    width: 50px;
    height: 50px;
    background-color: #24292e;
  }
}

.preview {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  .date {
    margin-right: 10px;
  }
  .like {
    .icon {
      margin-right: 5px;
    }
  }
}

.pagination {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLayout {
  margin: 10% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 10px;
  .form {
    width: 60%;
    .title {
      margin: 10% 0;
      color: #24292e;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }
    .group {
      margin-bottom: 10%;
    }
    .loginError {
      margin-bottom: 5%;
      text-align: center;
      color: #e74c3c;

    }
    .buttonArea {
      margin-bottom: 5%;
      text-align: center;
      .button {
        background-color: #24292e;
      }
    }
    .forFirst {
      margin-bottom: 10%;
      text-align: center;
      color: #24292e;
    }
  }
}