.footerLayout{
  margin-top:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid silver;
  color: silver;
  .footer {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    .brand {
      margin: 5px;
      font-size: 25px;
    }
    .developers {
      margin: 3px 0px;
    }
    .gitHubLinkArea{
      display: flex;
      justify-content: center;
      .gitHubLinks {
        margin: 0 5px;
        .gitHubLink {
          .link {
            color: silver;
            text-decoration: none;
          }
          .link:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}